Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

Add fix for null query results
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Bump version to 4.1.1 and add changelog note
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Fix for null query results (#16)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Remove closing http client after logging out
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
Due: login_client

Fix Codecov flag carryforward config
  codecov.yml
Due: none

Remove closing http client after logging out (#18)
  codecov.yml
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
Due: login_client

Set min SDK version to 2.12 prerelease
  packages/cqrs/pubspec.yaml
Due: cqrs

Migrate cqrs to null-safety
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Bump min SDK version
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump version to 5.0.0 and add changelog note
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Remove meta from pubspec
  packages/cqrs/pubspec.yaml
Due: cqrs

Use null-safety mockito and test
  packages/cqrs/pubspec.yaml
Due: cqrs

Remove deprecated success parameter from CommandResult
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
Due: cqrs

Add generated mocks and fix tests
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Push cqrs code coverage to 100%
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Bump http to null-safe version
  packages/cqrs/pubspec.yaml
Due: cqrs

Fix http mocks
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Fix http version to ^
  packages/cqrs/pubspec.yaml
Due: cqrs

Migrate cqrs to null-safety (#7)
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Add propertyName property in ValidationError
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_result_test.dart
  packages/cqrs/test/validation_error_test.dart
Due: cqrs

Add helper method for checking errors with propertyName
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/test/command_result_test.dart
Due: cqrs

Change version to 5.0.0-nullsafety.1
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump http to null-safe version
  packages/login_client/pubspec.yaml
Due: login_client

Fix stream generics to null-safety
  packages/login_client/lib/src/login_client.dart
  packages/login_client/test/login_client_test.dart
Due: login_client

Update dependencies & change version to 2.0.0
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Update Dart version for GitHub Actions
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
Due: none

Bump package version in pubspec
  packages/login_client/pubspec.yaml
Due: login_client

Bump minimum SDK version to 2.12 prerelease
  packages/login_client/pubspec.yaml
Due: login_client

Fix tests and mocks
  packages/login_client/lib/src/credentials_storage/in_memory_credentials_storage.dart
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Add temporary dependency overrides
  packages/login_client/pubspec.yaml
Due: login_client

Create changelog note
  packages/login_client/CHANGELOG.md
Due: login_client

Migrate code to null-safety
  packages/login_client/lib/src/credentials_storage/credentials_storage.dart
  packages/login_client/lib/src/credentials_storage/in_memory_credentials_storage.dart
  packages/login_client/lib/src/login_client.dart
  packages/login_client/lib/src/oauth2/custom_grant.dart
  packages/login_client/lib/src/oauth_settings.dart
  packages/login_client/lib/src/utils.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/in_memory_credentials_storage_test.dart
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/oauth_settings_test.dart
Due: login_client

Use Dart 2.12-beta for CI/CD
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
Due: none

Bump mockito to 5.0.0
  codecov.yml
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Use null-safe oauth2 from git
  packages/login_client/lib/src/oauth2/custom_grant.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Remove deprecated credentialsChangedCallback
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/login_client.dart
  packages/login_client/test/login_client_test.dart
Due: login_client

Add prereleases to changelog
  packages/cqrs/CHANGELOG.md
Due: cqrs

Remove deprecated success param
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
Due: cqrs

Path conditions:
  cqrs: any of: packages/cqrs
  login_client: any of: packages/login_client
