Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      cqrs:
        target: auto
        flags:
          - cqrs
      login_client:
        target: auto
        flags:
          - login_client

comment:
  branches: null

flags:
  cqrs:
    paths: ['packages/cqrs']
    carryforward: true
  login_client:
    paths: ['packages/login_client']
    carryforward: true

Improve `leancode_lint` readme (#42)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

* add .prettierrc
  .prettierrc
  packages/leancode_lint/pubspec.yaml
Due: none

refactor(login_client): use leancode_lint and fix all except 1 warnings
  packages/login_client/analysis_options.yaml
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/in_memory_credentials_storage_test.dart
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/oauth_settings_test.dart
  packages/login_client/test/refresh_exception_test.dart
Due: login_client

refactor(cqrs): use leancode_lint and fix most warnings that arose
  packages/cqrs/analysis_options.yaml
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_result_test.dart
  packages/cqrs/test/cqrs_exception_test.dart
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
  packages/cqrs/test/validation_error_test.dart
Due: cqrs

refactor(cqrs): use leancode_lint as dev dependency and fix all warnings
  packages/cqrs/pubspec.yaml
  packages/login_client/lib/src/login_client.dart
Due: cqrs, login_client

refactor(override_api_endpoint): use leancode_lint and fix warnings
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: none

refactor(login_client_flutter): use leancode_lint
  packages/login_client_flutter/analysis_options.yaml
  packages/login_client_flutter/pubspec.yaml
Due: login_client

refactor(login_client): use leancode_lint as dev dependency
  packages/login_client/pubspec.yaml
Due: login_client

chore(cqrs): use single quotes in pubspec
  packages/cqrs/pubspec.yaml
Due: cqrs

chore: add .prettierrc to warn against using double quotes in yaml
  .prettierrc
Due: none

differentiate between app & package
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

chore(cqrs, login_client): use the _package variant of leancode_lint
  packages/cqrs/analysis_options.yaml
  packages/login_client/analysis_options.yaml
Due: cqrs, login_client

docs(login_client): add required docs to utils.dart
  packages/login_client/lib/src/utils.dart
Due: login_client

docs(login_client): correctly link to [InMemoryCredentialsStorage]
  packages/login_client/lib/src/login_client.dart
Due: login_client

docs(cqrs): add docs to simpler public members
  packages/cqrs/lib/src/command_result.dart
Due: cqrs

Update packages/leancode_lint/README.md
  packages/leancode_lint/README.md
Due: none

docs(cqrs,login_client): document all public members
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/login_client/lib/src/login_client.dart
  packages/login_client/lib/src/oauth2/custom_grant.dart
Due: cqrs, login_client

chore(login_client): remove unneeded ignore rule
  packages/login_client/lib/src/login_client.dart
Due: login_client

Remove `leancode_lint`'s dependency on `flutter` (#47)
  .prettierrc
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

docs(leancode_lint): update version in README
  packages/leancode_lint/README.md
Due: none

chore: update leancode_lint to v1.0.2 for all packages using it
  packages/cqrs/pubspec.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client

ci: bump GH Actions Dart & Flutter versions
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
Due: none

fix(login_client): don't await every expectLater()
  packages/login_client/test/login_client_test.dart
Due: login_client

Use `leancode_lint` (#44)
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
  packages/cqrs/analysis_options.yaml
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_result_test.dart
  packages/cqrs/test/cqrs_exception_test.dart
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
  packages/cqrs/test/validation_error_test.dart
  packages/leancode_lint/README.md
  packages/login_client/analysis_options.yaml
  packages/login_client/lib/src/login_client.dart
  packages/login_client/lib/src/oauth2/custom_grant.dart
  packages/login_client/lib/src/utils.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/in_memory_credentials_storage_test.dart
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/oauth_settings_test.dart
  packages/login_client/test/refresh_exception_test.dart
  packages/login_client_flutter/analysis_options.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client

Export CommandResult
  packages/cqrs/lib/contracts.dart
  packages/cqrs/lib/src/cqrs.dart
Due: cqrs

Bump version
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Export `CommandResult` from `/contracts.dart` (#48)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/contracts.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/pubspec.yaml
Due: cqrs

Add toString on CommandResult
  packages/cqrs/lib/src/command_result.dart
Due: cqrs

Add toString tests
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/test/command_result_test.dart
Due: cqrs

Add toString on CommandResult (#49)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_result_test.dart
Due: cqrs

Enable new lints
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/lib/src/unawaited.dart
Due: none

Bump build_runner version in login_client
  packages/login_client/analysis_options.yaml
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Add changelog mention
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Enable new lints (#51)
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/lib/src/unawaited.dart
  packages/login_client/CHANGELOG.md
  packages/login_client/analysis_options.yaml
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Bump leancode_lint version
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Bump leancode_lint version (#52)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Update README usage section
  packages/override_api_endpoint/README.md
Due: none

Bump override_api_endpoint to 1.0.0+1
  packages/override_api_endpoint/pubspec.yaml
Due: none
