Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

leancode_lint: bump version to 1.3.1
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

leancode_lint: bump version to 2.0.0 (#89)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

fix broken changelog
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

fix broken changelog (#90)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Init commit: add lexer, parser and tests
  .gitignore
  .metadata
  CHANGELOG.md
  LICENSE
  README.md
  analysis_options.yaml
  lib/lexer.dart
  lib/src/escape_characters.dart
  lib/src/markdown_parser.dart
  lib/src/text_with_attributes.dart
  pubspec.yaml
  test/markdown_test.dart
Due: none

Update README
  README.md
  test/markdown_test.dart
Due: none

Fix build badge in cqrs
  README.md
  packages/cqrs/CHANGELOG.md
  packages/cqrs/README.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Fix build badge in leancode_hooks
  README.md
  packages/leancode_hooks/CHANGELOG.md
  packages/leancode_hooks/README.md
  packages/leancode_hooks/pubspec.yaml
Due: none

Fix build badge in login_client
  README.md
  packages/login_client/CHANGELOG.md
  packages/login_client/README.md
  packages/login_client/pubspec.yaml
Due: login_client

Fix build badge in login_client_flutter
  README.md
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/README.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Fix build badge in override_api_endpoint
  README.md
  packages/override_api_endpoint/CHANGELOG.md
  packages/override_api_endpoint/README.md
  packages/override_api_endpoint/pubspec.yaml
Due: none

Fix leancode_lint version in login_client
  packages/login_client/pubspec.yaml
Due: login_client

Fix leancode_lint version in leancode_hooks
  packages/leancode_hooks/pubspec.yaml
Due: none

Run leancode_hooks CI against Flutter 3.0.5
  .github/workflows/leancode_hooks-test.yml
Due: none

Fix leancode_lint version in login_client_flutter
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Don't run CI on stable and beta, on latest version instead
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
Due: none

Add codecov config for leancode_hooks
  codecov.yml
Due: none

Fix README build badges (#92)
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
  README.md
  codecov.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/README.md
  packages/cqrs/pubspec.yaml
  packages/leancode_hooks/CHANGELOG.md
  packages/leancode_hooks/README.md
  packages/leancode_hooks/pubspec.yaml
  packages/login_client/CHANGELOG.md
  packages/login_client/README.md
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/README.md
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/CHANGELOG.md
  packages/override_api_endpoint/README.md
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client

Fix missing codecov badge in login_client readme
  packages/login_client/README.md
Due: login_client

Bump login_client to 2.1.0+2
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Fix codecov badge in login_client readme (#93)
  packages/login_client/CHANGELOG.md
  packages/login_client/README.md
  packages/login_client/pubspec.yaml
Due: login_client

Rename markdown to markup
  lib/leancode_markup.dart
  lib/src/escape_characters.dart
  lib/src/lexer.dart
  lib/src/markup_parser.dart
  lib/src/text_with_attributes.dart
  pubspec.yaml
  test/markdown_test.dart
Due: none

Add leancode_lints
  analysis_options.yaml
  lib/src/escape_characters.dart
  lib/src/lexer.dart
  lib/src/markup_parser.dart
  pubspec.yaml
  test/markdown_test.dart
Due: none

Refactor lexer to use generic tokens
  lib/src/escape_characters.dart
  lib/src/lexer.dart
  lib/src/markup_parser.dart
  lib/src/tokens.dart
  lib/src/tokens.freezed.dart
  pubspec.yaml
  test/lexer_test.dart
  test/markdown_test.dart
Due: none

Add basic benchmarking
  benchmark/benchmark.dart
  benchmark/lexer_bench.dart
  pubspec.yaml
Due: none

Refactor parser
  README.md
  benchmark/lexer_bench.dart
  lib/src/markup_parser.dart
  lib/src/parser/lexer.dart
  lib/src/parser/markup_parser.dart
  lib/src/parser/tagged_text.dart
  lib/src/parser/tokens.dart
  lib/src/parser/tokens.freezed.dart
  lib/src/text_with_attributes.dart
  test/lexer_test.dart
  test/markdown_test.dart
  test/parser_test.dart
Due: none

Update readme to reflect newest changes
  README.md
Due: none

Add MarkupTag to parsing
  lib/src/parser/markup_parser.dart
  lib/src/parser/tagged_text.dart
  lib/src/parser/tokens.dart
  lib/src/parser/tokens.freezed.dart
  test/parser_test.dart
Due: none

Add parameter parsing
  README.md
  lib/src/parser/lexer.dart
  test/lexer_test.dart
Due: none

Change held tag information
  lib/src/parser/markup_parser.dart
  lib/src/parser/tagged_text.dart
  test/parser_test.dart
Due: none

Preserve tag order
  lib/src/parser/markup_parser.dart
  lib/src/parser/tagged_text.dart
  test/parser_test.dart
Due: none

Add basic Flutter rendering
  README.md
  lib/src/ui/default_markup_style.dart
  lib/src/ui/markup_tag_style.dart
  lib/src/ui/markup_text.dart
Due: none

Enable new dart 2.19 lints
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Enable new dart 2.19 lints (#94)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Use pub.dev automated publishing in CD
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
Due: none

Bump all packages version by build number
  packages/cqrs/pubspec.yaml
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_lint/pubspec.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client

Replace Dart 2.18.3 with 2.18.6 in CD
  .github/workflows/cqrs-publish.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/override_api_endpoint-publish.yml
Due: none

Use pub.dev automated publishing (#95)
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
  packages/cqrs/pubspec.yaml
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_lint/pubspec.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client

Replace strong mode with language features
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Bump leancode_lint version to 3.0.0
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Path conditions:
  cqrs: any of: packages/cqrs
  login_client: any of: packages/login_client
