Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      cqrs:
        target: auto
        flags:
          - cqrs
      login_client:
        target: auto
        flags:
          - login_client

comment:
  branches: null

flags:
  cqrs:
    paths: ['packages/cqrs']
    carryforward: true
  login_client:
    paths: ['packages/login_client']
    carryforward: true

Add publish workflow
  .github/workflows/leancode_lint-publish.yml
Due: none

Update ruleset
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Bump required dart to 2.14
  packages/leancode_lint/pubspec.yaml
Due: none

Add unawaited method
  packages/leancode_lint/lib/leancode_lint.dart
  packages/leancode_lint/lib/src/unawaited.dart
Due: none

Lower dart required version
  packages/leancode_lint/pubspec.yaml
Due: none

Update metadata
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

LeanCode lint (#35)
  .github/workflows/leancode_lint-publish.yml
  packages/leancode_lint/.gitignore
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/LICENSE
  packages/leancode_lint/README.md
  packages/leancode_lint/analysis_options.yaml
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/lib/analysis_options_package.yaml
  packages/leancode_lint/lib/leancode_lint.dart
  packages/leancode_lint/lib/src/unawaited.dart
  packages/leancode_lint/pubspec.yaml
Due: none

Fix/Add leancode_lint references
  README.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

Add n/a as CI badge
  README.md
Due: none

Center README columns
  README.md
Due: none

Add leancode_lint references (#36)
  README.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

fix stream sending data too quickly
  packages/login_client/lib/src/login_client.dart
Due: login_client

format
  packages/login_client/lib/src/login_client.dart
Due: login_client

Fix stream sending events too early (#37)
  packages/login_client/lib/src/login_client.dart
Due: login_client

Add 2.0.4 login_client
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Increase flutter_secure_storage version range
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Update packages/login_client/CHANGELOG.md
  packages/login_client/CHANGELOG.md
Due: login_client

use double quotes for all environment.sdk
  packages/cqrs/pubspec.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/pubspec.yaml
Due: cqrs, login_client

disable lint "prefer_final_parameters"
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

disable lint "library_private_types_in_public_api"
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

fix typo
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

use single quotes in pubspec
  packages/cqrs/pubspec.yaml
  packages/leancode_lint/pubspec.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client

completely delete commented-out "prefer_final_parameters" lint
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

completely delete commented-out "library_private_types_in_public_api" lint
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Revert "completely delete commented-out "prefer_final_parameters" lint"
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Revert "completely delete commented-out "library_private_types_in_public_api" lint"
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

remove comments on the annoyance
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

make package:flutter_lints a normal dependency, not a dev_dependency
  packages/leancode_lint/pubspec.yaml
Due: none

Fix lint rules (#40)
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
  packages/override_api_endpoint/pubspec.yaml
Due: none

set version to 1.0.1
  packages/leancode_lint/pubspec.yaml
Due: none

add a changelog entry for v1.0.1
  packages/leancode_lint/CHANGELOG.md
Due: none

Increase flutter_secure_storage version range (#38)
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Add 2.0.4 login_client (#39)
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Update packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/CHANGELOG.md
Due: none

Bump `leancode_lint` to v1.0.1 (#41)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

improve leancode_lint #usage section in its readme
  packages/leancode_lint/README.md
Due: none

set version to 1.0.2
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

set version to 1.0.1+1
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

rework whole readme
  packages/leancode_lint/README.md
Due: none
