Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client, leancode_hooks

Bump version of flutter & dart in github workflow for leancode_hooks, bump min version of flutter in pubspec of flutter_hooks
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  packages/leancode_hooks/pubspec.yaml
Due: leancode_hooks

Bump leancode_lint in leancode_hooks
  packages/leancode_hooks/pubspec.yaml
Due: leancode_hooks

Adjust code to lint rules
  packages/leancode_hooks/lib/leancode_hooks.dart
  packages/leancode_hooks/test/use_bloc_listener_test.dart
  packages/leancode_hooks/test/use_bloc_state_test.dart
  packages/leancode_hooks/test/use_post_frame_effect_test.dart
  packages/leancode_hooks/test/use_throttle_test.dart
Due: leancode_hooks

Apply suggestions from code review
  .github/workflows/leancode_hooks-test.yml
  packages/leancode_hooks/pubspec.yaml
Due: leancode_hooks

Add Changelog
  packages/leancode_hooks/CHANGELOG.md
Due: leancode_hooks

Bump version of flutter_hooks in leancode_hooks (#158)
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  packages/leancode_hooks/CHANGELOG.md
  packages/leancode_hooks/lib/leancode_hooks.dart
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_hooks/test/use_bloc_listener_test.dart
  packages/leancode_hooks/test/use_bloc_state_test.dart
  packages/leancode_hooks/test/use_post_frame_effect_test.dart
  packages/leancode_hooks/test/use_throttle_test.dart
Due: leancode_hooks

Setup flutter, replace publish in leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-publish.yml
Due: none

Setup flutter, replace publish in leancode_hooks-publish.yml (#159)
  .github/workflows/leancode_hooks-publish.yml
Due: none

Make CqrsMethod a sealed class
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/transport_types.dart
Due: cqrs

Fix docs typos from code review
  packages/cqrs/lib/src/cqrs.dart
Due: cqrs

Update CHANGELOG.md
  packages/cqrs/CHANGELOG.md
Due: cqrs

Remove blank space in CHANGELOG.md
  packages/cqrs/CHANGELOG.md
Due: cqrs

Update README.md
  packages/cqrs/README.md
Due: cqrs

Update versions of dependencies in CHANGELOG.md
  packages/cqrs/CHANGELOG.md
Due: cqrs

Make "SafeCqrs" the default CQRS client (#148)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/README.md
  packages/cqrs/lib/cqrs.dart
  packages/cqrs/lib/src/command_response.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_error.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/lib/src/cqrs_middleware.dart
  packages/cqrs/lib/src/cqrs_result.dart
  packages/cqrs/lib/src/transport_types.dart
  packages/cqrs/lib/src/validation_error.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_response_test.dart
  packages/cqrs/test/cqrs_exception_test.dart
  packages/cqrs/test/cqrs_middleware_test.dart
  packages/cqrs/test/cqrs_result_test.dart
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/validation_error_test.dart
Due: cqrs

Update cqrs version to 10.0.0
  packages/cqrs/pubspec.yaml
Due: cqrs

Update cqrs version to 10.0.0 (#160)
  packages/cqrs/pubspec.yaml
Due: cqrs

Export cqrs_middleware.dart
  packages/cqrs/lib/cqrs.dart
Due: cqrs

Rename forbiddenAccess to authorization
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_error.dart
  packages/cqrs/lib/src/cqrs_result.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Move hasError and hasErrorForProperty from CommandResponse to CommandFailure
  packages/cqrs/lib/src/command_response.dart
  packages/cqrs/lib/src/cqrs_result.dart
  packages/cqrs/test/command_response_test.dart
  packages/cqrs/test/cqrs_result_test.dart
Due: cqrs

Remove unused imports
  packages/cqrs/test/cqrs_middleware_test.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Update docs for CommandFailure
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/cqrs_result.dart
Due: cqrs

Bump cqrs to 10.0.1
  packages/cqrs/pubspec.yaml
Due: cqrs

Update CommandResult fields test
  packages/cqrs/test/cqrs_result_test.dart
Due: cqrs

Update CHANGELOG.md for 10.0.0
  packages/cqrs/CHANGELOG.md
Due: cqrs

Mark 10.0.0 as Retracted in CHANGELOG.md
  packages/cqrs/CHANGELOG.md
Due: cqrs

Fix cqrs v10.0.0 issues (#161)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/cqrs.dart
  packages/cqrs/lib/src/command_response.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_error.dart
  packages/cqrs/lib/src/cqrs_result.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_response_test.dart
  packages/cqrs/test/cqrs_middleware_test.dart
  packages/cqrs/test/cqrs_result_test.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Bump cqrs to 10.0.1 and contracts to 0.8.0
  packages/force_update/mobile/CHANGELOG.md
  packages/force_update/mobile/example/lib/main.dart
  packages/force_update/mobile/lib/src/force_update_guard.dart
  packages/force_update/mobile/pubspec.yaml
  packages/force_update/mobile/test/utils.dart
Due: none

Bump cqrs in example to 10.0.1
  packages/force_update/mobile/example/pubspec.yaml
Due: none

Update CHANGELOG.md
  packages/force_update/mobile/CHANGELOG.md
Due: none

Revert varsioning changes
  packages/force_update/mobile/CHANGELOG.md
  packages/force_update/mobile/pubspec.yaml
Due: none

In force_update bump cqrs to 10.0.1 and leancode_contracts to 0.8.0 (#162)
  packages/force_update/mobile/example/lib/main.dart
  packages/force_update/mobile/example/pubspec.yaml
  packages/force_update/mobile/lib/src/force_update_guard.dart
  packages/force_update/mobile/pubspec.yaml
  packages/force_update/mobile/test/utils.dart
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Add empty line at file end
  .github/dependabot.yml
Due: none

Fix wrong widen constraints declaration
  .github/dependabot.yml
Due: none

Remove labels
  .github/dependabot.yml
Due: none

Create dependabot.yml (#163)
  .github/dependabot.yml
Due: none

Change example apps versioning strategies to increase
  .github/dependabot.yml
Due: none

Path conditions:
  cqrs: any of: packages/cqrs
  login_client: any of: packages/login_client
  leancode_hooks: any of: packages/leancode_hooks
