Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

Add cqrs rename to changelog
  packages/cqrs/CHANGELOG.md
Due: cqrs

Update year in cqrs license file
  packages/cqrs/LICENSE
Due: cqrs

Lock leancode_lint at 1.0.2
  packages/cqrs/pubspec.yaml
Due: cqrs

Change CQRS capitalization to word (#69)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/LICENSE
  packages/cqrs/README.md
  packages/cqrs/lib/cqrs.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/lib/src/transport_types.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_exception_test.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Bump Dart required version to 2.17
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump leancode_lint to ^1.2.1
  packages/cqrs/pubspec.yaml
Due: cqrs

Add dart 2.17 mention to changelog
  packages/cqrs/CHANGELOG.md
Due: cqrs

Bump GH Action Dart version for cqrs to 2.17
  .github/workflows/cqrs-test.yml
Due: none

Update coverage usage in gh actions
  .github/workflows/cqrs-test.yml
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump cqrs Dart & leancode_lint versions (#70)
  .github/workflows/cqrs-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Remove IRemote types
  packages/cqrs/lib/contracts.dart
  packages/cqrs/lib/src/contract_types.dart
Due: cqrs

Update changelog
  packages/cqrs/CHANGELOG.md
Due: cqrs

Remove IRemote types (#72)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/contracts.dart
  packages/cqrs/lib/src/contract_types.dart
Due: cqrs

Add missing sentence ending dots
  packages/cqrs/CHANGELOG.md
Due: cqrs

Add Operation
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/transport_types.dart
Due: cqrs

Add tests
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Add `Operation` (#71)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/transport_types.dart
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Remove outdated CQRS runtime nullability fix
  packages/cqrs/lib/src/cqrs.dart
Due: cqrs

Remove outdated CQRS runtime nullability fix (#73)
  packages/cqrs/lib/src/cqrs.dart
Due: cqrs

Downgrade dart in package:cqrs
  .github/workflows/cqrs-test.yml
  packages/cqrs/pubspec.yaml
Due: cqrs

Downgrade dart in package:cqrs (#74)
  .github/workflows/cqrs-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump cqrs to 7.0.0
  .github/workflows/cqrs-test.yml
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump cqrs to 7.0.0 (#75)
  .github/workflows/cqrs-test.yml
  packages/cqrs/pubspec.yaml
Due: cqrs

Bump dart sdk
  .github/workflows/cqrs-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

add dummy comment
  packages/login_client_flutter/lib/login_client_flutter.dart
Due: login_client

Enable new dart 2.18 lints
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Bump dart sdk in `package:cqrs` (#76)
  .github/workflows/cqrs-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Fix tags-ignore
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
Due: none

Fix tags-ignore (#83)
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
Due: none

Update changelog and bump version
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Enable new dart 2.18 lints (#82)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

remove `invariant_booleans`
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

add changelogs
  packages/leancode_lint/CHANGELOG.md
Due: none

remove `discarded_futures`
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Remove `invariant_booleans` lint (#86)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

remove the `unawaited()` function
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/leancode_lint.dart
  packages/leancode_lint/lib/src/unawaited.dart
Due: none

remove the `unawaited()` function (#88)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/leancode_lint.dart
  packages/leancode_lint/lib/src/unawaited.dart
Due: none

remove `discarded_futures` (#87)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Path conditions:
  cqrs: any of: packages/cqrs
  login_client: any of: packages/login_client
