Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      cqrs:
        target: auto
        flags:
          - cqrs
      login_client:
        target: auto
        flags:
          - login_client

comment:
  branches: null

flags:
  cqrs:
    paths: ['packages/cqrs']
    carryforward: true
  login_client:
    paths: ['packages/login_client']
    carryforward: true

Add tests for copyRequest
  packages/login_client/lib/src/login_client.dart
  packages/login_client/test/login_client_test.dart
Due: login_client

Add test for throwing exception
  packages/login_client/test/login_client_test.dart
Due: login_client

Call refresh() if the first response is 401 (#26)
  packages/login_client/lib/src/login_client.dart
  packages/login_client/test/login_client_test.dart
Due: login_client

Bump versions
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Fix changelog
  packages/login_client/CHANGELOG.md
Due: login_client

Revert login_client_flutter changes
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Bump versions after automatic refresh fix (#27)
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Add changes from fix/refresh-credentials-on-401-response
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
Due: login_client

Update changelog
  packages/login_client/CHANGELOG.md
Due: login_client

Add legacy changelog entry
  packages/login_client/CHANGELOG.md
Due: login_client

Add changes from fix/refresh-credentials-on-401-response (#28)
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
Due: login_client

Add +1 to the version
  packages/login_client/pubspec.yaml
Due: login_client

Add legacy changelog entry (#29)
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Fix internal meta annotation
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
Due: login_client

Fix internal meta annotation (#30)
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
Due: login_client

Add possibility to create login client credentials storage for web and mobile in the same way
  packages/login_client_flutter/lib/login_client_flutter.dart
  packages/login_client_flutter/lib/src/flutter_mobile_secure_credentials_storage.dart
  packages/login_client_flutter/lib/src/flutter_stub_secure_credentials_storage.dart
  packages/login_client_flutter/lib/src/flutter_web_secure_credentials_storage.dart
  packages/login_client_flutter/lib/src/local_storage.dart
Due: login_client

Remove unnecessary code
  packages/login_client_flutter/lib/src/flutter_stub_secure_credentials_storage.dart
  packages/login_client_flutter/lib/src/local_storage.dart
Due: login_client

Remove unnecessary code
  packages/login_client_flutter/lib/login_client_flutter.dart
  packages/login_client_flutter/lib/src/flutter_stub_secure_credentials_storage.dart
Due: login_client

Create umbrella class for web storage
  packages/login_client_flutter/lib/src/flutter_secure_credentials_storage.dart
  packages/login_client_flutter/lib/src/flutter_secure_credentials_storage_stub.dart
  packages/login_client_flutter/lib/src/mobile_web_credentials_storage_io.dart
  packages/login_client_flutter/lib/src/mobile_web_credentials_storage_js.dart
  packages/login_client_flutter/lib/src/mobile_web_credentials_storage_stub.dart
Due: login_client

Bump version and add changelog note
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Reverse deprecated class implementation
  packages/login_client_flutter/lib/src/flutter_secure_credentials_storage.dart
  packages/login_client_flutter/lib/src/mobile_web_credentials_storage_io.dart
Due: login_client

Fix analysis_options
  packages/override_api_endpoint/analysis_options.yaml
Due: none

Remove unnecessary dev dependencies
  packages/override_api_endpoint/pubspec.yaml
Due: none

Add readme documentation
  packages/override_api_endpoint/README.md
Due: none

Wrap function with mockable class; Remove unilinks dependency
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: none

Fix package description
  packages/override_api_endpoint/pubspec.yaml
Due: none

Add overrideApiEndpoint parameters info
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
Due: none

Add override_api_endpoint package
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
  README.md
  packages/override_api_endpoint/.gitignore
  packages/override_api_endpoint/.metadata
  packages/override_api_endpoint/CHANGELOG.md
  packages/override_api_endpoint/LICENSE
  packages/override_api_endpoint/README.md
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/lib/override_api_endpoint.dart
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: none

Add configurable apiEndpoint key
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
Due: none

Make all params named
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
Due: none

Fix README
  packages/override_api_endpoint/README.md
Due: none

Fix typo
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
Due: none

Fix typo; Remove typedef
  packages/override_api_endpoint/README.md
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
Due: none

Introduce override_api_endpoint package (#24)
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
  README.md
  packages/override_api_endpoint/.gitignore
  packages/override_api_endpoint/.metadata
  packages/override_api_endpoint/CHANGELOG.md
  packages/override_api_endpoint/LICENSE
  packages/override_api_endpoint/README.md
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/lib/override_api_endpoint.dart
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: none

Add serialization to CommandResult
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/test/command_result_test.dart
  packages/cqrs/test/validation_error_test.dart
Due: cqrs

Bump version
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Feature/command result to json (#33)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_result_test.dart
  packages/cqrs/test/validation_error_test.dart
Due: cqrs

Add melos configuration
  melos.yaml
Due: none

Add melos configuration (#34)
  melos.yaml
Due: none

Add leancode_lint package
  packages/leancode_lint/.gitignore
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/LICENSE
  packages/leancode_lint/README.md
  packages/leancode_lint/analysis_options.yaml
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/lib/analysis_options_package.yaml
  packages/leancode_lint/pubspec.yaml
Due: none
