Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client, leancode_hooks

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
      cqrs:
        flags:
          - cqrs
      login_client:
        flags:
          - login_client
      leancode_hooks:
        flags:
          - leancode_hooks

comment:
  branches: null

flags:
  cqrs:
    paths: ['packages/cqrs']
    carryforward: true
  login_client:
    paths: ['packages/login_client']
    carryforward: true
  leancode_hooks:
    paths: ['packages/leancode_hooks']
    carryforward: true

Put type in backquote in CHANGELOG
  packages/leancode_flutter_svg_adaptive_loader/CHANGELOG.md
Due: none

Create cache key early to avoid resolving DefaultAssetBundle when ancestor is deactivated (#204)
  packages/leancode_flutter_svg_adaptive_loader/CHANGELOG.md
  packages/leancode_flutter_svg_adaptive_loader/lib/src/leancode_flutter_svg_adaptive_loader.dart
  packages/leancode_flutter_svg_adaptive_loader/pubspec.yaml
Due: none

Add InheritedWidget to make it possible to hide the popup
  packages/force_update/example/ios/Podfile.lock
  packages/force_update/example/ios/Runner.xcodeproj/project.pbxproj
  packages/force_update/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/force_update/example/lib/main.dart
  packages/force_update/example/lib/suggest_update_dialog.dart
  packages/force_update/lib/src/force_update_guard.dart
  packages/force_update/test/utils.dart
Due: none

Use ForceUpdateController instead of an InheritedWidget
  packages/force_update/example/lib/force_update_screen.dart
  packages/force_update/example/lib/main.dart
  packages/force_update/example/lib/suggest_update_dialog.dart
  packages/force_update/lib/force_update.dart
  packages/force_update/lib/src/force_update_controller.dart
  packages/force_update/lib/src/force_update_guard.dart
  packages/force_update/test/force_update_test.dart
  packages/force_update/test/utils.dart
Due: none

Fix example dialog
  packages/force_update/example/lib/main.dart
  packages/force_update/example/lib/suggest_update_dialog.dart
Due: none

Simplify the logic
  packages/force_update/example/lib/main.dart
  packages/force_update/lib/src/force_update_guard.dart
  packages/force_update/lib/src/force_update_storage.dart
Due: none

Make sure that _updateAndMaybeApply is called after applying local result
  packages/force_update/lib/src/force_update_guard.dart
Due: none

Add a test case with a previously stored value
  packages/force_update/test/force_update_test.dart
Due: none

Update readme
  packages/force_update/README.md
Due: none

Rewrite the readme
  packages/force_update/README.md
Due: none

Rename variable
  packages/force_update/example/lib/main.dart
Due: none

Replace a switch with an if
  packages/force_update/lib/src/force_update_guard.dart
Due: none

Change the default behaviour of force update, change the way of displaying suggest update dialogs (#203)
  packages/force_update/README.md
  packages/force_update/example/ios/Podfile.lock
  packages/force_update/example/ios/Runner.xcodeproj/project.pbxproj
  packages/force_update/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/force_update/example/lib/force_update_screen.dart
  packages/force_update/example/lib/main.dart
  packages/force_update/example/lib/suggest_update_dialog.dart
  packages/force_update/lib/force_update.dart
  packages/force_update/lib/src/force_update_controller.dart
  packages/force_update/lib/src/force_update_guard.dart
  packages/force_update/lib/src/force_update_storage.dart
  packages/force_update/test/force_update_test.dart
  packages/force_update/test/utils.dart
Due: none

Make README more appealing to non-LeanCoders
  packages/leancode_lint/README.md
Due: none

update pubspec description
  packages/leancode_lint/pubspec.yaml
Due: none

change wording in readme
  packages/leancode_lint/README.md
Due: none

bump version ("+1"), add changelog entry
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Make README more appealing to non-LeanCoders (#206)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/README.md
  packages/leancode_lint/pubspec.yaml
Due: none

Upgrade all packages to leancode_lint v7
  packages/cqrs/analysis_options.yaml
  packages/cqrs/pubspec.yaml
  packages/debug_page/analysis_options.yaml
  packages/debug_page/pubspec.yaml
  packages/leancode_analytics/analysis_options.yaml
  packages/leancode_analytics/pubspec.yaml
  packages/leancode_flutter_svg_adaptive_loader/analysis_options.yaml
  packages/leancode_flutter_svg_adaptive_loader/example/pubspec.lock
  packages/leancode_flutter_svg_adaptive_loader/pubspec.yaml
  packages/leancode_hooks/analysis_options.yaml
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_lint/test/lints_test_app/pubspec.lock
  packages/login_client/analysis_options.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/analysis_options.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client, leancode_hooks

Update melos files
  .gitignore
  pubspec.lock
Due: none

Add custom lint to CI
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
Due: none

Fix lint issues
  packages/cqrs/lib/src/cqrs.dart
Due: cqrs

Upgrade all packages to leancode_lint v7 (#213)
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-test.yml
  .gitignore
  packages/cqrs/analysis_options.yaml
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/pubspec.yaml
  packages/debug_page/analysis_options.yaml
  packages/debug_page/pubspec.yaml
  packages/leancode_analytics/analysis_options.yaml
  packages/leancode_analytics/pubspec.yaml
  packages/leancode_flutter_svg_adaptive_loader/analysis_options.yaml
  packages/leancode_flutter_svg_adaptive_loader/example/pubspec.lock
  packages/leancode_flutter_svg_adaptive_loader/pubspec.yaml
  packages/leancode_hooks/analysis_options.yaml
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_lint/test/lints_test_app/pubspec.lock
  packages/login_client/analysis_options.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/analysis_options.yaml
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/pubspec.yaml
  pubspec.lock
Due: cqrs, login_client, leancode_hooks

Enable annotate_redeclares
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Bump dart version to 3.2
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/leancode_lint-test.yml
  packages/leancode_lint/pubspec.yaml
Due: none

Enable use_build_context_synchronously
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Release leancode_lint 8.0.0
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Remove RobertOdrowaz from leancode_lint codeowner
  .github/CODEOWNERS
Due: none

Enable Dart 3.2 lints (#218)
  .github/CODEOWNERS
  .github/workflows/leancode_lint-publish.yml
  .github/workflows/leancode_lint-test.yml
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

add get credentials for LoginClient
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
Due: login_client

add test, bump minor
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
Due: login_client

update Changelog
  packages/login_client/CHANGELOG.md
Due: login_client

update changelog
  packages/login_client/CHANGELOG.md
Due: login_client

Add get credentials for LoginClient (#227)
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
Due: login_client

Bump leancode_lint in all packages
  packages/cqrs/pubspec.yaml
  packages/debug_page/example/pubspec.lock
  packages/debug_page/pubspec.yaml
  packages/leancode_analytics/pubspec.yaml
  packages/leancode_flutter_svg_adaptive_loader/example/pubspec.lock
  packages/leancode_flutter_svg_adaptive_loader/pubspec.yaml
  packages/leancode_hooks/pubspec.yaml
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/pubspec.yaml
Due: cqrs, login_client, leancode_hooks

Bump dart/flutter versions in CI
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-publish.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
Due: none

Bump leancode_lint version for override_api_endpoint as well
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
  packages/override_api_endpoint/pubspec.yaml
Due: none

Add changelog entries
  packages/cqrs/CHANGELOG.md
  packages/debug_page/CHANGELOG.md
  packages/leancode_analytics/CHANGELOG.md
  packages/leancode_flutter_svg_adaptive_loader/CHANGELOG.md
  packages/leancode_hooks/CHANGELOG.md
  packages/login_client/CHANGELOG.md
  packages/login_client_flutter/CHANGELOG.md
  packages/override_api_endpoint/CHANGELOG.md
Due: cqrs, login_client, leancode_hooks

Bump leancode_lint in all packages (#230)
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-publish.yml
  .github/workflows/leancode_flutter_svg_adaptive_loader-test.yml
  .github/workflows/leancode_hooks-publish.yml
  .github/workflows/leancode_hooks-test.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
  packages/debug_page/CHANGELOG.md
  packages/debug_page/example/pubspec.lock
  packages/debug_page/pubspec.yaml
  packages/leancode_analytics/CHANGELOG.md
  packages/leancode_analytics/pubspec.yaml
  packages/leancode_flutter_svg_adaptive_loader/CHANGELOG.md
  packages/leancode_flutter_svg_adaptive_loader/example/pubspec.lock
  packages/leancode_flutter_svg_adaptive_loader/pubspec.yaml
  packages/leancode_hooks/CHANGELOG.md
  packages/leancode_hooks/pubspec.yaml
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
  packages/override_api_endpoint/CHANGELOG.md
  packages/override_api_endpoint/pubspec.yaml
Due: cqrs, login_client, leancode_hooks
