Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      cqrs:
        target: auto
        flags:
          - cqrs
      login_client:
        target: auto
        flags:
          - login_client

comment:
  branches: null

flags:
  cqrs:
    paths: ['packages/cqrs']
    carryforward: true
  login_client:
    paths: ['packages/login_client']
    carryforward: true

Add revert to 4.1.1 message to changelog
  packages/cqrs/CHANGELOG.md
Due: cqrs

Add propertyName to ValidationError (#21)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/command_result_test.dart
  packages/cqrs/test/validation_error_test.dart
Due: cqrs

Make client id & secret non nullable
  packages/login_client/lib/src/oauth_settings.dart
Due: login_client

Fix tests after client id & secret change
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Update test coverage collection
  .github/workflows/login_client-test.yml
  packages/login_client/pubspec.yaml
Due: login_client

Bump to 6.0.0 & update dependencies
  packages/cqrs/pubspec.yaml
Due: cqrs

Add 6.0.0 to CHANGELOG
  packages/cqrs/CHANGELOG.md
Due: cqrs

Update coverage collection
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  packages/cqrs/pubspec.yaml
Due: cqrs

Update generated mocks
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Replace Dart 2.12 prerelease to release
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

cqrs null-safe 6.0.0 release (#22)
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Migrate login_client to null-safety (#8)
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  codecov.yml
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/credentials_storage/credentials_storage.dart
  packages/login_client/lib/src/credentials_storage/in_memory_credentials_storage.dart
  packages/login_client/lib/src/login_client.dart
  packages/login_client/lib/src/oauth2/custom_grant.dart
  packages/login_client/lib/src/oauth_settings.dart
  packages/login_client/lib/src/utils.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/in_memory_credentials_storage_test.dart
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
  packages/login_client/test/oauth_settings_test.dart
Due: login_client

Add meta to login_client deps
  packages/login_client/pubspec.yaml
Due: login_client

Downgrade login_client's meta dep
  packages/login_client/pubspec.yaml
Due: login_client

Bump login_client version to 2.0.1
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Downgrade login_client's meta dependency (#23)
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Remove dependency on oauth, format changelog
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/lib/src/flutter_secure_credentials_storage.dart
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Bump version and add changelog note
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Bump minimum Dart and Flutter versions
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Use setup-dart in CD action
  .github/workflows/login_client_flutter-publish.yml
Due: none

Upgrade Dart and Flutter versions in CI/CD
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
Due: none

Update login_client_flutter to Flutter 2.0
  .github/workflows/login_client_flutter-test.yml
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Migrate code to null-safety
  packages/login_client_flutter/lib/src/flutter_secure_credentials_storage.dart
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Bump login_client dep to 2.0.1
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Remove upper flutter constraint
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Migrate login_client_flutter to null-safety (#9)
  .github/workflows/login_client_flutter-publish.yml
  .github/workflows/login_client_flutter-test.yml
  packages/login_client_flutter/CHANGELOG.md
  packages/login_client_flutter/lib/src/flutter_secure_credentials_storage.dart
  packages/login_client_flutter/pubspec.yaml
Due: login_client

Add override_api_endpoint package
  .github/workflows/override_api_endpoint-publish.yml
  .github/workflows/override_api_endpoint-test.yml
  README.md
  packages/override_api_endpoint/.gitignore
  packages/override_api_endpoint/.metadata
  packages/override_api_endpoint/CHANGELOG.md
  packages/override_api_endpoint/LICENSE
  packages/override_api_endpoint/README.md
  packages/override_api_endpoint/analysis_options.yaml
  packages/override_api_endpoint/lib/override_api_endpoint.dart
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: none

Fix README
  packages/override_api_endpoint/README.md
Due: none

Add overrideApiEndpoint parameters info
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
Due: none

Fix analysis_options
  packages/override_api_endpoint/analysis_options.yaml
Due: none

Fix package description
  packages/override_api_endpoint/pubspec.yaml
Due: none

Remove unnecessary dev dependencies
  packages/override_api_endpoint/pubspec.yaml
Due: none

Wrap function with mockable class; Remove unilinks dependency
  packages/override_api_endpoint/lib/src/override_api_endpoint.dart
  packages/override_api_endpoint/pubspec.yaml
Due: none

Add readme documentation
  packages/override_api_endpoint/README.md
Due: none

Don't close OAuth HTTP client
  packages/login_client/lib/src/login_client.dart
Due: login_client

Increment login_client version and add changelog
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

[login_client] Fix closing default HTTP client after logging out. (#25)
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/src/login_client.dart
  packages/login_client/pubspec.yaml
Due: login_client

Call refresh() if the first response is 401
  packages/login_client/lib/src/login_client.dart
  packages/login_client/test/login_client_test.dart
Due: login_client

Fix regression with oAuth client close()
  packages/login_client/lib/src/login_client.dart
Due: login_client

Simplify empty streams in tests
  packages/login_client/test/login_client_test.dart
Due: login_client
