Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client, leancode_hooks

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
      cqrs:
        flags:
          - cqrs
      login_client:
        flags:
          - login_client
      leancode_hooks:
        flags:
          - leancode_hooks

comment:
  branches: null

flags:
  cqrs:
    paths: ['packages/cqrs']
    carryforward: true
  login_client:
    paths: ['packages/login_client']
    carryforward: true
  leancode_hooks:
    paths: ['packages/leancode_hooks']
    carryforward: true

Replace strong mode with language features (#97)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Enable dart 3 lints
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Bump leancode_lint version
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Update leancode_lint workflow dart version
  .github/workflows/leancode_lint-publish.yml
Due: none

Enable dart 3 lints (#100)
  .github/workflows/leancode_lint-publish.yml
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Remove dependence on flutter_lints
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Add flutter_lints changelog notice
  packages/leancode_lint/CHANGELOG.md
Due: none

Remove dependence on flutter_lints (#101)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Remove library_private_types_in_public_api
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/lib/analysis_options_package.yaml
Due: none

Release leancode_lint 4.0.0+1
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Remove library_private_types_in_public_api (#103)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
  packages/leancode_lint/lib/analysis_options_package.yaml
  packages/leancode_lint/pubspec.yaml
Due: none

Make usePostFrameEffect accept nullable keys
  packages/leancode_hooks/lib/src/use_post_frame_effect.dart
Due: leancode_hooks

Update changelog
  packages/leancode_hooks/CHANGELOG.md
Due: leancode_hooks

Bump version in pubspec & add test for usePostFrameEffect
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_hooks/test/use_post_frame_effect_test.dart
Due: leancode_hooks

Make usePostFrameEffect accept nullable keys (#104)
  packages/leancode_hooks/CHANGELOG.md
  packages/leancode_hooks/lib/src/use_post_frame_effect.dart
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_hooks/test/use_post_frame_effect_test.dart
Due: leancode_hooks

Use leancode_lint v4 in login_client
  packages/login_client/lib/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Bump http to v1 in login_client
  packages/login_client/pubspec.yaml
Due: login_client

Release login_client v3
  packages/login_client/CHANGELOG.md
  packages/login_client/pubspec.yaml
Due: login_client

Bump login_client CI dart version
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
Due: none

Bump http to v1 in cqrs
  packages/cqrs/pubspec.yaml
Due: cqrs

Release cqrs 9.0.0
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
Due: cqrs

Mention bumped dart version in changelogs
  packages/cqrs/CHANGELOG.md
  packages/login_client/CHANGELOG.md
Due: cqrs, login_client

Bump dart version in CI for cqrs
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
Due: none

Add codeowners file
  .github/CODEOWNERS
Due: none

Fix login_client coverage generation
  .github/workflows/login_client-test.yml
  packages/login_client/pubspec.yaml
Due: login_client

Add PR number to changelog
  packages/cqrs/CHANGELOG.md
  packages/login_client/CHANGELOG.md
Due: cqrs, login_client

Add codeowners file (#106)
  .github/CODEOWNERS
Due: none

Bump package:http to v1 in packages (#105)
  .github/workflows/cqrs-publish.yml
  .github/workflows/cqrs-test.yml
  .github/workflows/login_client-publish.yml
  .github/workflows/login_client-test.yml
  packages/cqrs/CHANGELOG.md
  packages/cqrs/pubspec.yaml
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/login_client.dart
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
Due: cqrs, login_client

Bump license years
  packages/cqrs/LICENSE
  packages/cqrs/lib/cqrs.dart
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/lib/src/transport_types.dart
Due: cqrs

Mark transport types as interfaces
  packages/cqrs/lib/src/transport_types.dart
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Migrate mockito to mocktail
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Update docs to null-safe code
  packages/cqrs/README.md
  packages/cqrs/lib/cqrs.dart
Due: cqrs

Add changelog entry
  packages/cqrs/CHANGELOG.md
Due: cqrs

Move fallback value mocking in tests
  packages/cqrs/test/cqrs_test.dart
Due: cqrs

Update transport type docs
  packages/cqrs/lib/src/transport_types.dart
Due: cqrs

Modernize package:cqrs for dart 3 (#107)
  packages/cqrs/CHANGELOG.md
  packages/cqrs/LICENSE
  packages/cqrs/README.md
  packages/cqrs/lib/cqrs.dart
  packages/cqrs/lib/src/command_result.dart
  packages/cqrs/lib/src/cqrs.dart
  packages/cqrs/lib/src/cqrs_exception.dart
  packages/cqrs/lib/src/transport_types.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs/test/cqrs_test.dart
  packages/cqrs/test/cqrs_test.mocks.dart
Due: cqrs

Update login_client license year
  packages/login_client/LICENSE
  packages/login_client/lib/login_client.dart
  packages/login_client/lib/src/credentials_storage/credentials_storage.dart
  packages/login_client/lib/src/credentials_storage/in_memory_credentials_storage.dart
  packages/login_client/lib/src/login_client.dart
  packages/login_client/lib/src/oauth2/custom_grant.dart
  packages/login_client/lib/src/oauth_settings.dart
  packages/login_client/lib/src/refresh_exception.dart
  packages/login_client/lib/src/strategies/authorization_strategy.dart
  packages/login_client/lib/src/strategies/client_credentials_strategy.dart
  packages/login_client/lib/src/strategies/custom_grant_strategy.dart
  packages/login_client/lib/src/strategies/raw_credentials_strategy.dart
  packages/login_client/lib/src/strategies/resource_owner_password_strategy.dart
  packages/login_client/lib/src/strategies/sms_token_strategy.dart
  packages/login_client/lib/src/utils.dart
Due: login_client

Mark some interfaces as interface
  packages/login_client/CHANGELOG.md
  packages/login_client/lib/login_client.dart
  packages/login_client/lib/src/credentials_storage/credentials_storage.dart
  packages/login_client/lib/src/credentials_storage/in_memory_credentials_storage.dart
  packages/login_client/lib/src/strategies/authorization_strategy.dart
Due: login_client

Replace mocktail with mockito
  packages/login_client/pubspec.yaml
  packages/login_client/test/login_client_test.dart
  packages/login_client/test/login_client_test.mocks.dart
Due: login_client

Update packages/login_client/CHANGELOG.md
  packages/login_client/CHANGELOG.md
Due: login_client
