Repository leancodepl/flutter_corelibrary: changes, and which Codecov flags are due for each by the changed paths.
All: cqrs, login_client, leancode_hooks

Revert comment change
  packages/leancode_hooks/lib/src/use_bloc.dart
Due: leancode_hooks

Update CHANGELOG.md
  packages/leancode_hooks/CHANGELOG.md
Due: leancode_hooks

Implement useBlocState and useBlocListener hooks (#114)
  packages/leancode_hooks/CHANGELOG.md
  packages/leancode_hooks/lib/leancode_hooks.dart
  packages/leancode_hooks/lib/src/use_bloc_listener.dart
  packages/leancode_hooks/lib/src/use_bloc_state.dart
  packages/leancode_hooks/pubspec.yaml
  packages/leancode_hooks/test/use_bloc_listener_test.dart
  packages/leancode_hooks/test/use_bloc_state_test.dart
Due: leancode_hooks

Enable new lints from dart 3.1
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Add changelog entry
  packages/leancode_lint/CHANGELOG.md
Due: none

Add cqrs_wrapper package
  packages/cqrs_wrapper/.gitignore
  packages/cqrs_wrapper/LICENSE
  packages/cqrs_wrapper/README.md
  packages/cqrs_wrapper/analysis_options.yaml
  packages/cqrs_wrapper/lib/cqrs_wrapper.dart
  packages/cqrs_wrapper/pubspec.yaml
Due: cqrs

Add cqrs dependency
  packages/cqrs_wrapper/pubspec.yaml
Due: cqrs

Add CqrsWrapper class
  packages/cqrs_wrapper/lib/src/cqrs_wrapper.dart
Due: cqrs

Add CqrsError classes
  packages/cqrs_wrapper/lib/src/cqrs_error.dart
Due: cqrs

Add equatable dependency
  packages/cqrs_wrapper/pubspec.yaml
Due: cqrs

Update readme
  packages/cqrs_wrapper/README.md
Due: cqrs

Add CqrsResult classes
  packages/cqrs_wrapper/lib/src/cqrs_result.dart
Due: cqrs

Implement CqrsResult sealed classes
  packages/cqrs_wrapper/lib/src/cqrs_error.dart
Due: cqrs

Add isInvalid check to CqrsResult
  packages/cqrs_wrapper/lib/src/cqrs_result.dart
Due: cqrs

Differentiate command and query results
  packages/cqrs_wrapper/lib/src/cqrs_result.dart
Due: cqrs

Implement noThrowGet and noThrowRun
  packages/cqrs_wrapper/lib/src/cqrs_wrapper.dart
Due: cqrs

Make cqrs results more generic
  packages/cqrs_wrapper/lib/src/cqrs_result.dart
Due: cqrs

Rewrite Cqrs errors
  packages/cqrs_wrapper/lib/src/cqrs_error.dart
Due: cqrs

Rewrite CqrsResult
  packages/cqrs_wrapper/lib/src/cqrs_result.dart
Due: cqrs

Simplify Cqrs errors to just enums
  packages/cqrs_wrapper/lib/src/cqrs_error.dart
Due: cqrs

Add missing error handlers to CqrsWrapper
  packages/cqrs_wrapper/lib/src/cqrs_wrapper.dart
Due: cqrs

Add isFailure getter to CqrsCommandResult
  packages/cqrs_wrapper/lib/src/cqrs_result.dart
Due: cqrs

Implement missing cases for error handling in CqrsWrapper
  packages/cqrs_wrapper/lib/src/cqrs_wrapper.dart
Due: cqrs

Add initial library docs
  packages/cqrs_wrapper/lib/cqrs_wrapper.dart
Due: cqrs

Move CqrsWrapper to cqrs library
  packages/cqrs/lib/cqrs.dart
  packages/cqrs/lib/src/wrapper/cqrs_error.dart
  packages/cqrs/lib/src/wrapper/cqrs_result.dart
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
  packages/cqrs/pubspec.yaml
  packages/cqrs_wrapper/.gitignore
  packages/cqrs_wrapper/LICENSE
  packages/cqrs_wrapper/README.md
  packages/cqrs_wrapper/analysis_options.yaml
  packages/cqrs_wrapper/lib/cqrs_wrapper.dart
  packages/cqrs_wrapper/pubspec.yaml
Due: cqrs

Add initial docs for CqrsWrapper and make logger optional
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
Due: cqrs

Add docs for CqrsWrapper.noThrowGet
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
Due: cqrs

Add headers argument to noThrowGet and noThrowRun
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
Due: cqrs

Add docs for CqrsWrapper
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
Due: cqrs

Add initial docs for CqrsResult
  packages/cqrs/lib/src/wrapper/cqrs_result.dart
Due: cqrs

Make error argument in CqrsCommandResult.nonValidationError non nullable
  packages/cqrs/lib/src/wrapper/cqrs_result.dart
Due: cqrs

Enable new lints from dart 3.1 (#146)
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Refactor CqrsResult
  packages/cqrs/lib/src/wrapper/cqrs_result.dart
Due: cqrs

Refactor CqrsWrapper
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
Due: cqrs

Make CqrsWrapper implement Cqrs
  packages/cqrs/lib/src/wrapper/cqrs_wrapper.dart
Due: cqrs

Release leancode_lint v6
  packages/leancode_lint/CHANGELOG.md
  packages/leancode_lint/pubspec.yaml
Due: none

Update leancode_lint readme
  packages/leancode_lint/README.md
Due: none

Remove deprecated lint rules
  packages/leancode_lint/lib/analysis_options.yaml
Due: none

Bump leancode_lint CI Dart version
  .github/workflows/leancode_lint-publish.yml
Due: none

Update all linter links
  packages/leancode_lint/CHANGELOG.md
Due: none

Path conditions:
  cqrs: any of: packages/cqrs
  login_client: any of: packages/login_client
  leancode_hooks: any of: packages/leancode_hooks
